<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/image/logo.png">
    <title>Static Website</title>
    <script src="https://kit.fontawesome.com/b1900538a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap" rel="stylesheet"> 
</head>
<body>
    <header class="header">
        <div>
            <div class="divheader__logo">
                <img src="../public/image/logo.png" alt="logo" class="logo"><h2 class="h2">Static Website</h2>
              </div>
        </div>
        <div class="divheader__nav">
            <nav class="nav_menu">
                
                    <ul class="listamenu">
                        <li><a href="../views/principal.html"><i class="fa-solid fa-house"></i>Inicio</a></li> 
                        <li><a href="../views/servicios.html"><i class="fa-solid fa-laptop-file"></i>Servicios</a></li>
                        <li><a href="../views/nosotros.html"><i class="fa-solid fa-users"></i>Sobre Nosotros</a></li>
                        <li><a href="../views/contacto.html"><i class="fa-solid fa-phone"></i>Contacto</a></li>
                    </ul>
            
            </nav>
        </div>
    </header>
    <a href="https://api.whatsapp.com/send?phone=543435022191" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp-square"></i></a>
    <section class="seccionNosotros">
        <div class="divNosotrosText">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p> <strong>Static Website</strong> es una empresa joven, pero con gran conocimiento Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam molestiae perspiciatis nostrum pariatur, dignissimos corporis dolore excepturi doloribus molestias at?.
            algunos de nuestros <a href="#clientes">clientes</a>  </p>
        </div>
        <div>
            <img src="../public/image/programador1.png" class="imagenNosotros" alt="">
        </div>
    </section>
    <section class="seccionClientes">
        <div class="h5Clientes">    
        <h5 id="clientes">Nuestros Clientes</h5>
    </div> 
          <div class="divContentCliente">
              <div class="divClientes"><i>Lorem.</i>
                 <img src="../public/image/clientes.png" alt="">
               </div>
              <div class="divClientes"><i>Lorem.</i>
                 <img src="../public/image/clientes.png" alt="">
               </div>
              <div class="divClientes"><i>Lorem.</i>
                 <img src="../public/image/clientes.png" alt="">
               </div>
              <div class="divClientes"><i>Lorem.</i>
            <img src="../public/image/clientes.png" alt="">
               </div>
            </div>
        
    </section>
    <footer>
       
            <div class="divfooter">
                <ul class="ulfooter">
                   <li> <a href=""><i class="fa-brands fa-facebook"></i></a></li>
                   <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                   <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
    
            <div class="divCopy">
            <i>Copyright <strong>SCH</strong></i>
        </div>
    </footer>
</body>
</html>