<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/image/logo.png">
    <title>Static Website</title>
    <script src="https://kit.fontawesome.com/b1900538a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap" rel="stylesheet"> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
     <!--aca dejo el menu responsive-->
    
     <HEader class="headerResponsive">
        <div>
            <div class="divheader__logo">
                <img src="../public/image/logo.png" alt="logo" class="logo"><h2 class="h2">Static Website</h2>
              </div>
        </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" type="button"><a href="../views/principal.html">Inicio</a></button></li>
          <li><button class="dropdown-item" type="button"><a href="../views/servicios.html">Servicio</a></button></li>
          <li><button class="dropdown-item" type="button"><a href="../views/nosotros.html">Nosotros</a></button></li>
          <li><button class="dropdown-item" type="button"><a href="../views/contacto.html">Contacto</a></button></li>
        </ul>
      </div>
      </HEader>
      <!--aca arranca el menu desko-->
    <header class="header">
        <div>
            <div class="divheader__logo">
                <img src="../public/image/logo.png" alt="logo" class="logo"><h2 class="h2">Static Website</h2>
              </div>
        </div>
        <div class="divheader__nav">
            <nav class="nav_menu">
                <ul class="listamenu">
                    <li><a href="../views/principal.html"><i class="fa-solid fa-house"></i>Inicio</a></li> 
                    <li><a href="../views/servicios.html"><i class="fa-solid fa-laptop-file"></i>Servicios</a></li>
                    <li><a href="../views/nosotros.html"><i class="fa-solid fa-users"></i>Sobre Nosotros</a></li>
                    <li><a href="../views/contacto.html"><i class="fa-solid fa-phone"></i>Contacto</a></li>
                </ul>
        </div>
    </header>
    <section class="seccioPagServicio">
       <a href="https://api.whatsapp.com/send?phone=543435022191" target="_blank" class="whatsapp"><i class="fa-brands fa-whatsapp-square"></i></a>
        <article>
            <h3 class="h3Servicio">Lorem ipsum dolor sit amet consectetur.</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quidem, quod molestiae dolorum tenetur dolorem? Laborum iusto a optio perferendis delectus fugiat, asperiores, pariatur excepturi officia accusantium vitae. Sed repudiandae qui perspiciatis maiores nihil totam animi quos ea id sit!</p>
        </article>
        <div class="divResponsive">
            <img class="responsive" src="../public/image/responsive.png" alt="">
        </div>
    </section>
    <footer >
        <div class="divfooter">
            <ul class="ulfooter">
               <li> <a href=""><i class="fa-brands fa-facebook"></i></a></li>
               <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
               <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="divCopy">
            <i>Copyright <strong>SCH</strong></i>
        </div>
    </footer>
</body>
</html>